<h1>Bungee Jump Checker</h1>
<p>ODE path generator for the P3 bungee jump assignment</p>
<form method=post action="">

<table>
  {% for field in form %}
    <tr>
    <td>{{ field.name }}</td><td>{{ field }}</td>
    <td>{{ field.label }}</td>
    </tr>
  {% endfor %}
</table>

<p><input type=submit value=Generate></form></p>

<p style="color:red;">
{% if result != None %}
<img src="{{ result }}" width=700><br>
{% endif %}
{% if out != None %}
{% for para in out %}
{{para}}<br>
{% endfor %}
{% endif %}
</p>

<p>please don't tell me about any bugs, I know they're there but <br>
I'm pretending they're not my problem!</p>
